# IDE-specific files
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Maven build output
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle build output
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Boot application properties
/src/main/resources/application.properties

# Logs
*.log

# Compiled class files
*.class

# Other files
HELP.md